<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SerializationFolder">
        <patch:attribute name="value">C:\Users\mlj\Documents\Visual Studio 2013\Projects\Sitecore.Int.Mlj.MicroBlogging\Serialization</patch:attribute>
      </setting>
    </settings>
    </sitecore>
</configuration>